@{
    ViewData["Title"] = "Contactos";
}

<div>
    <h1 class="display-4">Contactos</h1>
    <p>Cadastre aqui um novo contacto.</p>

    <form asp-controller="Contact" asp-action="Store" method="POST" class="col-5">
        <div class="mb-3">
            <label for="name" class="form-label">Nome do idiota</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail do idiota</label>
            <input type="email" class="form-control" id="email" name="email" />
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Telefone do idiota</label>
            <input type="tel" class="form-control" id="phone" name="phone" />
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
